.about-us {
  padding-top: 24px;
  padding-bottom: 50px;
}

.about-us__title {
  margin-bottom: 83px;
}

.about-us__list {
  @include reset-list;
}

.about-us__item:not(:last-child) {
  margin-bottom: 83px;
}

.about-us__item {
  position: relative;

  &::before {
    @include pseudo-el;
    top: -50px;
  }

  &:first-child::before {
    @include pos-pseudo-el(33px, 38px, 6px);
    background-image: url("../../img/svg/flower.svg");
  }

  &:nth-child(2)::before {
    @include pos-pseudo-el(47px, 27px, 0);
    background-image: url("../../img/svg/banknote.svg");
  }

  &:nth-child(3)::before {
    @include pos-pseudo-el(34px, 27px, 6px);
    background-image: url("../../img/svg/like.svg");
  }

  &:nth-child(4)::before {
    @include pos-pseudo-el(35px, 34px, 0);
    background-image: url("../../img/svg/kneet.svg");
  }

  &:nth-child(5)::before {
    @include pos-pseudo-el(55px, 23px, 0);
    background-image: url("../../img/svg/raket.svg");
  }

  &:nth-child(6)::before {
    @include pos-pseudo-el(33px, 32px, 0);
    background-image: url("../../img/svg/present.svg");
  }
}

@media (min-width: $tablet-width) {
  .about-us__title {
    @include fonts(43px, 50px);
  }

  .about-us__list {
    display: grid;
    grid-template-columns: 250px 100px 330px;
    grid-template-rows: 118px 118px 118px;
  }

  .about-us__item {
    @include fonts(20px, 22px);

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      grid-column: 1/2;
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      grid-column: 3/4;
    }
  }
}
