.buy-form {
  display: none;
  padding: 29px 30px 46px;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.buy-form__title {
  text-transform: uppercase;
  margin-bottom: 14px;
  text-align: center;
  width: 163px;
  margin-left: 50px;
}

.buy-form__size {
  @include fonts(15px, 30px);
  color: $top-color;
  font-weight: 400;
  text-align: center;
}

.buy-form__list {
  @include reset-list;
  margin-top: 22px;
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;
}

.buy-form__item {
  @include fonts(17px, 16px);
  width: 82px;
  color: $top-color;
  border: 2px solid rgba($color: $top-color, $alpha: 0.1);
  text-align: center;
  padding: 16px 22px;

  &:hover {
    border-color: rgba($color: $top-color, $alpha: 0.3);
  }

  &:active {
    border-color: $border-decor;
  }
}

.buy-form__item-aktive {
  border: 2px solid $border-decor;
}

.buy-form__add-to-cart {
  color: $background;
  background-color: $main-decor;
  border: none;
}

@media (min-width: $tablet-width) {
  .buy-form {
    width: 566px;
    margin: 0 auto;
    padding: 52px 50px 46px;
    box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  }

  .buy-form__title {
    width: auto;
    margin-left: 0;
    margin-bottom: 25px;
    font-size: 30px;
  }

  .buy-form__size {
    font-size: 17px;
  }

  .buy-form__list {
    margin-left: 58px;
    margin-right: 58px;
  }

  .buy-form__item {
    width: 111px;
  }

  .buy-form__add-to-cart {
    margin: 0 auto;
    font-size: 17px;
    width: 348px;
  }
}
