.buy-form {
  display: none;
  padding: 29px 30px 46px;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.buy-form__title {
  text-transform: uppercase;
  margin-bottom: 14px;
  text-align: center;
}

.buy-form__size {
  @include fonts(15px, 30px);
  color: $top-color;
  font-weight: 400;
  text-align: center;
}

.buy-form__list {
  @include reset-list;
  margin-top: 22px;
  margin-bottom: 31px;
  display: flex;
  justify-content: space-between;
}

.buy-form__item {
  @include fonts(17px, 16px);
  width: 82px;
  color: $top-color;
  border: 2px solid $back-for-footer;
  text-align: center;
  padding: 18px 22px;
}

.buy-form__add-to-cart {
  color: $background;
  background-color: $main-decor;
  border: none;
}

@media (min-width: $tablet-width) {
  .buy-form {
    width: 566px;
    margin: 0 auto;
    padding: 38px 108px 46px;
    box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  }

  .buy-form__add-to-cart {
    margin: 0 auto;
  }
}
