.catalog {
  padding-top: 0;
  padding-bottom: 28px;
}

.catalog__title {
  @include fonts(27px, 30px);
  text-align: center;
  background-color: $back-for-footer;
  min-height: 175px;
  padding-top: 72px;
  margin-top: 0;
  margin-bottom: 30px;
}

.catalog__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-bottom: 66px;
  }

  .catalog__title {
    @include fonts(43px, 50px);
    min-height: 225px;
    margin-bottom: 81px;
    padding-top: 100px;
    position: relative;

    &::after {
      @include pseudo-el;
      @include pos-pseudo-el(100%, 24px, 0);
      background-image: url("../../img/svg/zigzag-line.svg");
      bottom: -13px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-bottom: 52px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 51px;
    justify-content: normal;
    align-items: flex-start;
  }

  .catalog__title {
    font-size: 53px;
    padding-top: 105px;
    min-height: 251px;
    margin-bottom: 132px;
  }
}
