.catalog {
  padding-top: 0;
  padding-bottom: 28px;
}

.catalog__title {
  @include fonts(27px, 30px);
  text-align: center;
  background-color: $back-for-footer;
  min-height: 177px;
  padding-top: 74px;
  margin-top: 0;
  margin-bottom: 30px;
}

.catalog__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-bottom: 0;
  }

  .catalog__title {
    @include fonts(43px, 50px);
    min-height: 216px;
    margin-bottom: 67px;
    padding-top: 100px;
    position: relative;

    &::after {
      @include pseudo-el;
      @include pos-pseudo-el(100%, 24px, 0);
      background-image: url("../../img/svg/zigzag-line.svg");
      bottom: -14px;
    }
  }
}
