.contacts {
  padding-top: 45px;
  padding-bottom: 39px;
}

.contacts__title {
  @include fonts(18px, 30px);
  margin-bottom: 28px;
}

.contacts__item {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 77px 1fr;
}

.contacts-wrp {
  margin-bottom: 62px;
}

.contacts__contact,
.contacts-link {
  @include fonts(14px, 30px);
  font-weight: 400;
  color: $top-color;
}

.contacts-link {
  border-bottom: 1px solid $border-decor;
  padding-bottom: 3px;

  &:hover {
    color: #46c1ae;
    border-color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    border-color: rgba($color: #46c1ae, $alpha: 0.1);
  }
}

.contacts__map-zone {
  width: 100%;
  height: 457px;
  margin-bottom: 40px;
}

.contacts__write-us {
  margin: 0 auto;

  &:hover {
    background-color: $top-color;
    color: $background;
  }

  &:active {
    color: rgba($color: $background, $alpha: 0.3);
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 70px;
    padding-bottom: 59px;
  }

  .contacts__title {
    @include fonts(43px, 50px);
    margin-bottom: 49px;
    position: relative;

    &::after {
      @include pseudo-el;
      background-image: url("../../img/svg/flag.svg");
      width: 47px;
      height: 81px;
      right: 53px;
      top: -24px;
    }
  }

  .contacts__contact,
  .contacts-link {
    @include fonts(17px, 30px);
  }

  .contacts__contact {
    padding-right: 8px;
  }

  .contacts-wrp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 17px;
  }

  .contacts__item {
    width: 320px;
    grid-template-columns: 79px 1fr;
  }

  .contacts__map-zone {
    margin-bottom: 58px;
  }

  .contacts__write-us {
    font-size: 17px;
    width: 230px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding: 71px 50px 108px;
    display: grid;
    grid-template-columns: 175px 175px 175px 175px 175px 175px;
    grid-template-rows: 169px 175px 61px 50px;
  }

  .contacts__title {
    @include fonts(53px, 57px);
    grid-column: 2/4;
    padding: 0;
    margin-bottom: 0;
    margin-top: 82px;

    &::after {
      right: 0;
      left: -111px;
      top: -19px;
    }
  }

  .contacts-wrp {
    display: block;
    grid-column: 2/4;
    padding: 0;
    margin-top: 4px;
  }

  .contacts__map {
    grid-column: 4/7;
    grid-row: 1/-1;
  }

  .contacts__map-zone {
    width: 527px;
  }

  .contacts__write-us {
    grid-column: 2/4;
    grid-row: 4/5;
    margin: 0;
    padding-left: 6px;
    padding-right: 0;
    width: 230px;
    margin-top: 3px;
    min-height: 51px;
  }
}
