.contacts {
  padding: 38px 30px 39px;
}

.contacts__title {
  @include fonts(18px, 30px);
  margin-bottom: 28px;
}

.contacts__item {
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: 75px 1fr;
}

.contacts__contact,
.contacts-link {
  @include fonts(14px, 30px);
  font-weight: 400;
  color: $top-color;
}
