.container {
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1150px;
    padding: 0 50px;
  }
}
