.footer {
  padding-top: 26px;
  padding-bottom: 32px;
  background-color: $back-for-footer;
}

.footer__logo {
  display: none;
}

.footer__social-list {
  @include reset-list;
  width: 187px;
  margin-bottom: 45px;
  margin-left: 36px;
  margin-right: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  &::after {
    @include pseudo-el;
    @include pos-pseudo-el(260px, 1px, -10px);
    bottom: -20px;
    border-bottom: 1px solid $decor-gray;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__copyright__text {
  @include fonts(19px, 18px);
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 46px;
    padding-bottom: 58px;
    min-height: 153px;
  }

  .footer__logo {
    display: block;
  }

  .footer-wrp {
    display: flex;
    justify-content: space-between;
  }

  .footer__social-list {
    margin: 0 0 0 40px;
    width: 179px;

    &::after {
      border-bottom: none;
    }
  }

  .footer__social-item {
    margin-right: 40px;
  }

  .footer__copyright__link {
    margin-left: 25px;
  }

  .footer__copyright__text {
    display: block;
    margin-top: 5px;
  }
}
