.footer {
  padding-top: 25px;
  padding-bottom: 32px;
  background-color: $back-for-footer;
}

.footer__social-list {
  @include reset-list;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 30px;
  display: flex;
  justify-content: space-around;
  position: relative;

  &::after {
    @include pseudo-el;
    @include pos-pseudo-el(260px, 1px, -10px);
    bottom: -20px;
    border-bottom: 1px solid $decor-gray;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-evenly;
}

.footer__copyright__text {
  @include fonts(19px, 18px);
}
