.form {
  padding-top: 0;
  padding-bottom: 55px;
}

.form__title {
  @include fonts(27px, 30px);
  text-align: center;
  background-color: $back-for-footer;
  min-height: 175px;
  padding-top: 72px;
  margin-top: 0;
  margin-bottom: 17px;
}

.form__txt {
  @include fonts(13px, 24px);
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
  color: $top-color;
}

.form__group {
  border: none;
  margin-left: 0;
  padding: 0;
}

.form__group-wrapper {
  display: flex;
  flex-direction: column;
}

.form__heading {
  @include fonts(17px, 16px);
  text-transform: uppercase;
  color: $main-decor;
  position: relative;

  &::after {
    @include pseudo-el;
    width: 200px;
    border-bottom: 1px solid $border-decor;
    top: 7px;
    left: 60px;
  }
}

.form__list {
  @include fonts(17px, 18px);
  @include reset-list;
  padding-left: 0;
}

.form__group-type {
  margin-bottom: 19px;
}

.form__list-choice {
  padding-left: 61px;
}

.form__item-color label,
.form__item-choice label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.form__radio + label::before {
  content: "";
  position: absolute;
  left: -62px;
  top: -6px;
  width: 42px;
  height: 42px;
  border: 2px solid $top-color;
  border-radius: 50%;
}

.form__radio:hover + label::before {
  border-color: $border-decor;
}

.form__radio:active + label::before {
  border-color: rgba(0, 0, 0, 0.3);
}

.form__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -50px;
  width: 18px;
  height: 18px;
  background-color: $border-decor;
  border-radius: 50%;
}

.form__item {
  margin-bottom: 24px;
}

.form__heading-type {
  margin-bottom: 34px;
}

.form__heading-color {
  margin-bottom: 35px;
}

.form__list-color {
  padding-left: 61px;
}

.form__item-color {
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 34px;
  }
}

.form__color + label::before {
  content: "";
  position: absolute;
  left: -61px;
  bottom: -8px;
  width: 38px;
  height: 38px;
  border: 2px solid $top-color;
}

.form__color:hover + label::before {
  border-color: $border-decor;
}

.form__color:active + label::before {
  border-color: rgba($color: #000000, $alpha: 0.3);
}

.form__color:checked + label::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: -54px;
  width: 23px;
  height: 17px;
  background-image: url("../../img/svg/tick.svg");
}

.form__group-name {
  margin-bottom: 17px;
}

.form__full-name {
  margin-bottom: 29px;
  margin-top: 9px;
}

.form__list-name {
  padding-left: 0;
}

.form__item-name {
  margin-bottom: 20px;
}

.form__data-name {
  margin-right: 24px;
}

.form__data {
  width: 100%;
  border: none;
  border-bottom: 2px solid $main-txt;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 15px;
  margin-top: 16px;

  &:focus {
    border-bottom: 2px solid transparent;
    outline: 2px solid $border-decor;
  }

  &:hover {
    border-bottom: 2px solid $border-decor;
  }

  &:active {
    border-bottom: 2px solid transparent;
    outline: 2px solid $border-decor;
  }
}

.form__tel {
  margin-bottom: 35px;
  margin-top: 16px;
  background-color: transparent;
}

.form__group-tel,
.form__group-mail {
  position: relative;
}

.form__tel-svg {
  position: absolute;
  fill: $main-txt;
  opacity: 0.2;
  top: 27%;
  right: 12%;
}

.form__mail {
  margin-bottom: 35px;
  margin-top: 21px;
  background-color: transparent;
}

.form__mail-svg {
  position: absolute;
  fill: $main-txt;
  top: 35%;
  right: 10%;
}

.add {
  margin-bottom: 23px;
}

.form__writing {
  margin-top: 23px;
  margin-bottom: 17px;
  padding: 15px;
  resize: none;
  border: 2px solid $main-txt;

  &:focus {
    border: 2px solid $border-decor;
    outline: none;
  }

  &:hover {
    border: 2px solid $border-decor;
  }

  &:active {
    border: 2px solid $border-decor;
    outline: none;
  }
}

.form__obligatory {
  @include fonts(14px, 16px);
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
  color: $top-color;
}

@media (min-width: $tablet-width) {
  .form__title {
    @include fonts(43px, 50px);
    padding-top: 100px;
    min-height: 224px;
    margin-bottom: 69px;
    position: relative;

    &::after {
      @include pseudo-el;
      @include pos-pseudo-el(100%, 24px, 0);
      background-image: url("../../img/svg/zigzag-line.svg");
      bottom: -14px;
    }
  }

  .form__txt {
    @include fonts(17px, 30px);
    margin-bottom: 80px;
  }

  .form__list {
    @include fonts(19px, 18px);
  }

  .form__group-type {
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .form__item-choice {
    margin-bottom: 58px;
  }

  .form__list-choice {
    padding-left: 80px;
  }

  .form__heading::after {
    display: none;
  }

  .form__radio + label::before {
    width: 52px;
    height: 52px;
    left: -78px;
    top: -18px;
  }

  .form__radio:checked + label::after {
    left: -61px;
    top: 0;
  }

  .form__group-wrapper {
    flex-direction: row;
    display: grid;
    grid-template-columns: 167px 1fr;
  }

  .form__group-color,
  .form__group-contacts {
    background-color: $back-for-footer;
  }

  .form__group-wrapper-color {
    padding-top: 65px;
  }

  .form__heading-color {
    width: 140px;
  }

  .form__list-color {
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .form__list-color .form__item {
    margin-bottom: 60px;
    width: 230px;
  }

  .form__color + label::before {
    width: 52px;
    height: 52px;
  }

  .form__color:checked + label::after {
    width: 30px;
    height: 30px;
    background-image: url("../../img/svg/tick-tablet.svg");
    background-repeat: no-repeat;
  }

  .form__group-name {
    padding-top: 69px;
  }

  .form__full-name {
    margin-top: 2px;
  }

  .form__group-tel {
    padding-top: 60px;
    padding-bottom: 17px;
  }

  .form__group-mail {
    padding-bottom: 15px;
  }

  .form__tel,
  .form__mail {
    margin-top: 0;
    padding-left: 17px;
  }

  .form__tel {
    margin-bottom: 24px;
  }

  .form__tel::placeholder {
    font-size: 18px;
  }

  .form__group-add {
    padding-top: 50px;
  }

  .form__heading-add {
    margin-top: 18px;
  }

  .form__writing {
    margin-top: 0;
  }

  .form-wrp-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 33px;
  }

  .form__obligatory {
    grid-column: 2/3;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 37px;
  }

  .form__send {
    width: 232px;
    padding-left: 0;
    padding-right: 0;
    grid-column: 1/2;
    grid-row: 1/2;

    &:hover {
      background-color: $top-color;
      color: $background;
    }

    &:active {
      color: rgba($color: $background, $alpha: 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .form__title {
    @include fonts(53px, 57px);
    min-height: 241px;
    margin-bottom: 130px;

    &::after {
      background-image: url("../../img/svg/zigzag-line-desktop.svg");
      height: 23px;
    }
  }

  .form__txt {
    width: 801px;
  }

  .form-wrp-btn {
    grid-template-columns: 174px 350px 350px;
  }

  .form__obligatory {
    grid-column: 3/4;
    text-align: right;
  }

  .form__send {
    grid-column: 2/3;
  }
}
