.header {
  background-color: $background;
  padding-top: 22px;
}

.header__logo {
  display: block;
  height: 80px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .header {
    padding: 22px 50px 20px;
  }

  .header__logo {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .header__logo {
    text-align: center;
  }
}
