.header {
  background-color: $background;
  padding-top: 22px;
}

.header__logo {
  display: block;
  height: 80px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .header {
    height: 90px;
    overflow: visible;
  }
}
