.header {
  background-color: $background;
  padding-top: 22px;
}

.header__logo {
  display: block;
  height: 60px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .header {
    padding: 32px 50px 20px;
  }

  .header__logo {
    text-align: left;
  }

  .header__logo img {
    width: 114px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .header__logo {
    text-align: center;
  }

  .header__logo img {
    width: 149px;
    height: 72px;
  }
}
