.intro {
  background-color: #f9f9f9;
  background-image: url("../../img/intro/background-intro.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 -20px;
  padding-top: 71px;
}

.intro__title {
  @include fonts(27px, 30px);
  margin-bottom: 120px;
  margin-top: 0;
  text-align: center;
  width: 290px;
  padding-left: 30px;
}

.intro__list {
  @include fonts(19px, 24px);
  @include reset-list;
}

.intro__item {
  padding-top: 24px;
  padding-bottom: 31px;
  background-color: $back-decor;

  &:first-child {
    background-color: $main-decor;
  }
}

.intro__link {
  color: $background;
  display: block;
  width: 130px;
  position: relative;
  cursor: pointer;

  &::after {
    @include pseudo-el;
  }
}

.intro__link-interior::after {
  width: 40px;
  height: 62px;
  background-image: url("../../img/svg/interior.svg");
  top: -3px;
  right: -124px;
}

.intro__link-toy::after {
  width: 60px;
  height: 60px;
  background-image: url("../../img/svg/toy.svg");
  top: -5px;
  right: -132px;
}

@media (min-width: $tablet-width) {
  .intro {
    padding: 155px 50px 0;
    background-position: 50% 2px;
    position: relative;

    &::after {
      @include pseudo-el;
      @include pos-pseudo-el(100%, 24px, 0);
      background-image: url("../../img/svg/zigzag-line.svg");
      bottom: -14px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/intro/background-intro@2x.jpg");
    }
  }

  .intro__title {
    @include fonts(43px, 50px);
    width: 100%;
    padding: 0;
    margin-bottom: 372px;
  }

  .intro__list {
    display: flex;
  }

  .intro__item {
    padding-top: 26px;
    padding-left: 36px;

    &:hover {
      transform: scaleY(1.2);
    }
  }

  .intro__link {
    line-height: 29px;
  }

  .intro__link-interior::after {
    top: 3px;
    right: -130px;
  }

  .intro__link-toy::after {
    top: 3px;
    right: -133px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-top: 164px;
  }

  .intro__title {
    @include fonts(53px, 54px);
    margin-bottom: 359px;
  }

  .intro__link-interior::after,
  .intro__link-toy::after {
    right: -324px;
  }

  .intro__link-interior::after {
    top: 3px;
  }
}
