.intro {
  background-image: url("../img/intro/background-intro.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 73px;
}

.intro__title {
  @include fonts(27px, 30px);
  margin-bottom: 120px;
  margin-top: 0;
  text-align: center;
  width: 290px;
  padding-left: 30px;
}

.intro__list {
  @include fonts(19px, 24px);
  @include reset-list;
}

.intro__item {
  padding-top: 24px;
  padding-bottom: 31px;
  background-color: $back-decor;

  &:first-child {
    background-color: $main-decor;
  }
}

.intro__link {
  color: $background;
  display: block;
  width: 130px;
  position: relative;
  cursor: pointer;

  &::after {
    @include pseudo-el;
  }
}

.intro__link-interior::after {
  width: 40px;
  height: 62px;
  background-image: url("../../img/svg/interior.svg");
  top: -5px;
  right: -122px;
}

.intro__link-toy::after {
  width: 60px;
  height: 60px;
  background-image: url("../../img/svg/toy.svg");
  top: -5px;
  right: -132px;
}
