.main-nav__list {
  @include reset-list;
}

.main-nav__link,
.main-nav__search-link {
  @include fonts(17px, 24px);
  color: $main-txt;
  padding: 0 30px 0 74px;
  display: block;
  line-height: 80px;
  border-bottom: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
  }

  .button__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1050px;
  }
}
