.main-nav__toggle {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 2;
  display: block;
  width: 20px;
  height: 14px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 8px 0 0 #231f20, 0 16px 0 0 #231f20;
}

.main-nav--opened .main-nav__toggle {
  top: 32px;
  right: 43px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #231f20;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__list,
.main-nav--closed .main-nav-wrp {
  @media (max-width: $tablet-width - 1px) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .main-nav__list,
.main-nav--nojs .main-nav-wrp {
  display: block;
}

.main-nav__list-more {
  display: none;
}

.main-nav__list,
.main-nav__list-more {
  @include reset-list;
}

.header__delivery-txt {
  display: none;
}

.main-nav__link,
.main-nav__search-link {
  @include fonts(17px, 78px);
  color: $main-txt;
  padding: 0 30px 0 74px;
  display: block;
  border-bottom: 1px solid #ececec;
}

.main-nav__search-icon,
.main-nav__cart-icon {
  position: absolute;
  left: 31px;
}

.main-nav__search-icon {
  top: 270px;
}

.main-nav__cart-icon {
  top: 346px;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__search-txt {
    font-size: 0;
    margin-left: 24px;
    margin-top: 7px;
  }

  .main-nav__wrapper {
    display: flex;
  }

  .main-nav__list {
    display: flex;
    width: 340px;
    justify-content: space-between;
  }

  .main-nav-wrp {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-top: -86px;
  }

  .main-nav__link,
  .main-nav__search-link {
    border-bottom: none;
    padding: 0;
  }

  .main-nav__search-icon {
    position: static;
  }

  .main-nav__cart-icon {
    top: 35px;
    left: 486px;
  }

  .header__delivery-txt {
    @include fonts(15px, 24px);
    display: block;
    color: $top-color;
    font-weight: normal;
    text-align: right;
    margin-bottom: 0;
    margin-top: -53px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 375px;
  }

  .main-nav__list-more {
    order: 4;
    width: 329px;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__link,
  .main-nav__search-link {
    line-height: 70px;
  }

  .main-nav__link-catalog {
    position: relative;

    &::after {
      @include pseudo-el;
      width: 1px;
      height: 88px;
      border-right: 1px solid rgba($color: $main-txt, $alpha: 0.1);
      right: -36px;
      top: -9px;
    }
  }

  .main-nav__search-icon {
    position: absolute;
  }

  .main-nav__wrapper {
    flex-wrap: wrap;
    margin-top: -86px;
    justify-content: space-between;
  }

  .main-nav__search-txt {
    margin-left: 72px;
  }

  .main-nav-wrp {
    width: 400px;
    margin-top: 0;
  }

  .header__delivery-txt {
    margin-top: -46px;
  }

  .main-nav__cart-icon {
    left: 865px;
  }
}
