.main-nav__list {
  @include reset-list;
}

.main-nav__delivery {
  display: none;
}

.main-nav__link,
.main-nav__search-link {
  @include fonts(17px, 24px);
  color: $main-txt;
  padding: 0 30px 0 74px;
  display: block;
  line-height: 80px;
  border-bottom: 1px solid #ececec;
}

.main-nav__search-icon,
.main-nav__cart-icon {
  position: absolute;
  left: 30px;
}

.main-nav__search-icon {
  top: 296px;
}

.main-nav__cart-icon {
  top: 375px;
}
