.product-of-day {
  padding-top: 24px;
  padding-bottom: 31px;
  background-color: $background;
  color: $top-color;
  font-weight: normal;
  position: relative;

  &::after {
    @include pseudo-el;
    @include pos-pseudo-el(100%, 6px, 0);
    background-image: url("../../img/svg/wave-line.svg");
    bottom: 0;
  }
}

.product-of-day__heading {
  margin-bottom: 4px;
}

.product-of-day__title {
  @include fonts(17px, 20px);
  color: $main-decor;
  text-transform: uppercase;
}

.product-of-day__txt {
  @include fonts(15px, 24px);
  margin-top: 18px;
  margin-bottom: 18px;
}

.product-of-day__price {
  @include fonts(17px, 24px);
  margin-top: 26px;
  margin-bottom: 25px;
  font-weight: bold;
  text-align: center;
}
