.reviews {
  padding: 11px 30px 45px;
  position: relative;

  &::after {
    @include pseudo-el;
    @include pos-pseudo-el(100%, 6px, 0);
    background-image: url("../../img/svg/wave-line.svg");
    bottom: -8px;
  }
}

.reviews__title {
  margin-bottom: 15px;
}

.reviews__item {
  margin: 0;
  margin-bottom: 34px;
}

.reviews__item-hide {
  display: none;
}

.reviews__text {
  @include fonts(15px, 30px);
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 36px;
}

.reviews__author-name {
  font-style: normal;
}

.reviews__insta {
  font-weight: normal;
  display: block;
  margin-top: 12px;
}

.reviews__toggles {
  margin-top: 0;
  margin-bottom: 38px;
  display: flex;
}

.reviews__toggle {
  width: 130px;
  min-height: 54px;
  background-color: transparent;
  display: block;
  cursor: pointer;
  border: 1px solid #ececec;
  position: relative;
}

.reviews__toggle-svg {
  fill: $main-txt;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

// .slider__toggle-back::after,
// .slider__toggle-next::after {
//   @include pseudo-el;
//   @include pos-pseudo-el(50px, 26px, 35px);
//   top: 14px;
// }

// .slider__toggle-back::after {
//   background-image: url("../../img/svg/slider-back.svg");
// }

// .slider__toggle-next::after {
//   background-image: url("../../img/svg/slider-next.svg");
// }

@media (min-width: $tablet-width) {
  .reviews {
    padding: 76px 50px 94px;
    background-image: url("../../img/reviews/bg-rug.jpg");
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 167px 167px 160px 174px;

    &::after {
      background-image: url("../../img/svg/zigzag-line-17.svg");
      height: 17px;
      bottom: 0;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/reviews/bg-rug@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__item {
    grid-column: 1/5;
    margin-bottom: 0;
  }

  .reviews__title {
    @include fonts(43px, 50px);
    margin-bottom: 38px;
    margin-top: 6px;
  }

  .reviews__text {
    @include fonts(17px, 30px);
    margin-bottom: 59px;
  }

  .reviews__author-name {
    @include fonts(18px, 24px);
    font-style: normal;
  }

  .reviews__button {
    grid-column: 4/5;
    grid-row: 1/2;
    margin-bottom: 40px;
    width: 175px;
  }

  .reviews__toggles {
    grid-column: 4/5;
    margin-top: -50px;
  }

  .reviews__toggle {
    border: none;
  }

  // .slider__toggle-back::after,
  // .slider__toggle-next::after {
  //   left: 17px;
  // }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 78px;
    padding-bottom: 148px;
    padding-left: 50px;
    background-position: 50px 5px;
    grid-template-columns: 175px 175px 175px 175px 175px 175px;

    &::after {
      background-image: url("../../img/svg/zigzag-line-desktop.svg");
      height: 23px;
      width: 1050px;
      left: 50px;
    }
  }

  .reviews__title {
    @include fonts(53px, 57px);
    margin-bottom: 36px;
    grid-column: 2/3;
  }

  .reviews__item {
    grid-column: 2/7;
    margin-bottom: 0;
  }

  .reviews__text {
    margin-bottom: 42px;
  }

  .reviews__insta {
    margin-top: 10px;
  }

  .reviews__toggles {
    grid-column: 6/7;
  }

  // .slider__toggle-back::after,
  // .slider__toggle-next::after {
  //   left: 20px;
  // }

  .reviews__button {
    grid-column: 6/7;
    margin-top: 8px;
  }
}
