$main-txt: #000000;
$main-txt-wth-opacity: rgba(0, 0, 0, 0.2);
$background: #ffffff;
$main-decor: #63d1bb;
$back-decor: #56c3b2;
$top-color: #444444;
$back-for-footer: #f1f1f1;

@mixin fonts($size,$height) {
  font-size: $size;
  line-height: $height;
}
