//colors

$main-txt: #000000;
$main-txt-wth-opacity: rgba(0, 0, 0, 0.2);
$background: #ffffff;
$main-decor: #63d1bb;
$back-decor: #56c3b2;
$top-color: #444444;
$back-for-footer: #f1f1f1;
$border-decor: #62d1ba;
$decor-gray: #e5e5e5;

// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
